language: node_js
node_js:
- '8'
- '10'
script:
- npm test
notifications:
  slack:
    on_pull_requests: false
    rooms:
      secure: bKiOrBe1gYfqC0q2DPz97UW+tY8UKzbpKo8W5o8rsm5Niq2pFBNoWjHTLGOsjUlPPkmkBK3xjr2RiWMM3CvIe4fm4o8aap2tubjd4pubqMfBqEDZWlOlOQI7ZirKBhAflXIAp+CEDl4up/QBnWpq8K11/xgYgGD2CNrvp4KPfiHZzmyxXmNqgU05rt75cPbd3cYpQ0BudwNIcbVlsVkvWYc/OG8Wl4ItRfcvIjnjTqNaWaasEvcm+ljPTJ00cbcFWJdwlqIkfrMufosdyEYGaSyxHfVo+JTlSh6NSTkMt9Go64/qjVxFtnBc8nhhFx88e1Nu1UiBCLu0TH9x4Tmk4lKxcrCIW6xbomiwhS578EWWbtRjXESvwOw1c7YFXg+T3dLOgp13FiGCOqNhz5J6uWSAcavU/T22RPyNPrEaFpiYrEz5qQmnFJjvHIjybr+xH6ePdLb/QtJG7mtWfLenJRD6AZhroAPLEVZdLJ++dEM9UMouEX0pUlNYEAulREFfVc1H0/l2kcE91ZA3mCIEH3L2mlbxqJW4DmfmOGatAqHVgnQv6YXsbXPEVK4xrYJUl+PkilXjjDzd4gxfPLT49NDCCl+ysYfEH+wItH2uJj2x9zj4/wYpigjucENzi6ERse5xx2jnQpCAAed2RXXXTX2h1caO+Hp8xr9UEuMnGfI=
  email: false
deploy:
  provider: npm
  edge: true
  registry: https://www.npmjs.com/package/html-webpack-inline-svg-plugin
  access: public
  api_token:
    secure: DJRGKFl/fMFMpGd6P/2LkwWie0rS9brgkAj5GdeL6L9I7TtBlrBwg3xM/kjWRuUri8mVoVqd7ztuXyH4YVhkpPe254lHACM6w0UwZstqIy25WDNPh6ay6i7Yww06iDdzb2L7yFvxt2QF3J3C5iBVTVkGdm/i+G4cJsvYaxTM7d/rBVMVsEPGL9660YZoArqLiNKHtM+iqHnzfNQa1PtgaBNx92v6oRmHrs7HYfPSM9OdNpuYX2k1d/NbuSrtJh68nAxp6pKbhNDkaIR1bIxDwiBj3em2YEIlepgSC0mxT5gcknTiEvIfkHPjVG+Qv0DYF6Hsqym/NjN8WBA+ILLOzczGoJABRS4M5Dbr9vJMdDc8cayfXB7NOKVjuf9ChxkGkd0Ay3f+ncJIphBqFYzXPpzp+wRgEcux5f30ModekS54mvTUUUgrgJRurkrIFo2sd7rsbzG6jMnnHFl9X2T1rJeX5rue9R4tILKDwk5HZPq26XuxOZkfBhq5BoO9FSzrpjfytjzk1wcLBufZF3rNi0g5X0twR2rPZPJfuqHHJrfrmIH3GP/kKZCPS7IjH/oxxlqTnQ9YaAACaFFXK5+knGhTBIe4vhyyQ/8+m5+wSRsB7WRswKoidvT5Sz1/PeEZSUibtZuSo0omcvjEUkkt5RP/uPwQr9Ctn7Ze4+68HFQ=
  on:
    tags: true
  cleanup: true
